USE [master]
GO
/****** Object:  Database [AccountsPayable]    Script Date: 16/10/2018 15:20:12 ******/
CREATE DATABASE [AccountsPayable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AccountsPayable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AccountPayable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AccountsPayable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AccountsPayable_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccountsPayable].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccountsPayable]
GO
/****** Object:  Table [dbo].[TBL_INVOICE]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INVOICE](
	[invoiceID] [int] NOT NULL,
	[POID] [int] NOT NULL,
	[created_date] [date] NOT NULL,
	[due_date] [date] NOT NULL,
	[info] [varchar](320) NULL,
	[vendorID] [int] NOT NULL,
	[total] [float] NULL,
	[discount] [float] NULL,
	[Istatus] [varchar](320) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INVOICE_ITEMS]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INVOICE_ITEMS](
	[invoiceID] [int] NOT NULL,
	[itemID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC,
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PO_ITEMS]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PO_ITEMS](
	[POID] [int] NOT NULL,
	[itemID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[POID] ASC,
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PURCHASE_ORDER]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PURCHASE_ORDER](
	[POID] [int] NOT NULL,
	[notes] [varchar](225) NULL,
	[userID] [int] NULL,
	[tax] [int] NULL,
	[delivery_date] [date] NOT NULL,
	[created_date] [date] NOT NULL,
	[terms] [varchar](320) NULL,
	[delivery_address] [varchar](225) NULL,
	[vendorID] [int] NULL,
	[total] [float] NULL,
	[POstatus] [varchar](320) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[POID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RECEIPT]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RECEIPT](
	[receiptID] [int] NOT NULL,
	[amount] [float] NOT NULL,
	[printDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[receiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RECEIVED_ITEMS]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RECEIVED_ITEMS](
	[RRID] [int] NOT NULL,
	[itemID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[received] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RRID] ASC,
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RECEIVING_REPORT]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RECEIVING_REPORT](
	[RRID] [int] NOT NULL,
	[delivery_date] [date] NOT NULL,
	[created_date] [date] NOT NULL,
	[terms] [varchar](320) NULL,
	[POID] [int] NULL,
	[notes] [varchar](320) NULL,
	[total] [float] NULL,
	[RRstatus] [varchar](320) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SC_ITEMS]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SC_ITEMS](
	[itemID] [int] NOT NULL,
	[item_name] [varchar](225) NOT NULL,
	[price] [float] NOT NULL,
	[info] [varchar](320) NULL,
	[manufacturer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[UserID] [int] NOT NULL,
	[firstname] [varchar](225) NOT NULL,
	[surname] [varchar](225) NOT NULL,
	[email] [varchar](320) NULL,
	[phone] [int] NULL,
	[city] [varchar](225) NULL,
	[country] [varchar](225) NULL,
	[username] [varchar](225) NOT NULL,
	[pass] [varchar](225) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VENDOR]    Script Date: 16/10/2018 15:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VENDOR](
	[Vendor_ID] [int] NOT NULL,
	[phone] [int] NOT NULL,
	[address_] [varchar](320) NOT NULL,
	[companyName] [varchar](225) NOT NULL,
	[companyType] [varchar](225) NOT NULL,
	[country] [varchar](225) NOT NULL,
	[city] [varchar](225) NOT NULL,
	[titl] [varchar](225) NOT NULL,
	[firstname] [varchar](225) NOT NULL,
	[surname] [varchar](225) NOT NULL,
	[email] [varchar](225) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Vendor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_INVOICE]  WITH CHECK ADD FOREIGN KEY([vendorID])
REFERENCES [dbo].[TBL_VENDOR] ([Vendor_ID])
GO
ALTER TABLE [dbo].[TBL_INVOICE]  WITH CHECK ADD FOREIGN KEY([POID])
REFERENCES [dbo].[TBL_PURCHASE_ORDER] ([POID])
GO
ALTER TABLE [dbo].[TBL_INVOICE_ITEMS]  WITH CHECK ADD FOREIGN KEY([invoiceID])
REFERENCES [dbo].[TBL_INVOICE] ([invoiceID])
GO
ALTER TABLE [dbo].[TBL_INVOICE_ITEMS]  WITH CHECK ADD FOREIGN KEY([itemID])
REFERENCES [dbo].[TBL_SC_ITEMS] ([itemID])
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS]  WITH CHECK ADD FOREIGN KEY([itemID])
REFERENCES [dbo].[TBL_SC_ITEMS] ([itemID])
GO
ALTER TABLE [dbo].[TBL_PO_ITEMS]  WITH CHECK ADD FOREIGN KEY([POID])
REFERENCES [dbo].[TBL_PURCHASE_ORDER] ([POID])
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[TBL_USER] ([UserID])
GO
ALTER TABLE [dbo].[TBL_PURCHASE_ORDER]  WITH CHECK ADD FOREIGN KEY([vendorID])
REFERENCES [dbo].[TBL_VENDOR] ([Vendor_ID])
GO
ALTER TABLE [dbo].[TBL_RECEIVED_ITEMS]  WITH CHECK ADD FOREIGN KEY([itemID])
REFERENCES [dbo].[TBL_SC_ITEMS] ([itemID])
GO
ALTER TABLE [dbo].[TBL_RECEIVED_ITEMS]  WITH CHECK ADD FOREIGN KEY([RRID])
REFERENCES [dbo].[TBL_RECEIVING_REPORT] ([RRID])
GO
ALTER TABLE [dbo].[TBL_RECEIVING_REPORT]  WITH CHECK ADD FOREIGN KEY([POID])
REFERENCES [dbo].[TBL_PURCHASE_ORDER] ([POID])
GO
ALTER TABLE [dbo].[TBL_SC_ITEMS]  WITH CHECK ADD FOREIGN KEY([manufacturer])
REFERENCES [dbo].[TBL_VENDOR] ([Vendor_ID])
GO
USE [master]
GO
